body {
  font-family: "DM Sans", sans-serif;
}

.logo {
  height: 60px;
  width: auto;
  margin: 50px 100px;
}

/* HEADER */
.photograph-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px 20px 100px;
  gap: 150px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
  order: 3;
}

.photographers-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  order: 0;
}

.photograph-header h2 {
  color: #d3573c;
  font-size: 3.5em;
  margin-bottom: 0;
}

.photographer-localisation {
  color: #901c1c;
  font-size: 1.5em;
  margin: 0;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  order: 1;
}

/* MODAL */
#contact_modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.223);
  overflow-y: auto;
  z-index: 9999;
}

.modal {
  position: relative;
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  margin: 20px auto 20px auto;
  overflow-y: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.modal header h2 {
  margin: 0;
  font-size: 2.5em;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 1.8em;
  margin-bottom: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: #312e2e;
  margin-bottom: 5px;
  box-sizing: border-box;
}

#message-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: #312e2e;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.modal span {
  color: #901c1c;
}

.title-container {
  margin-bottom: 10px;
}

#confirm-message {
  display: none;
  font-size: 1.8em;
}

#confirm-message img {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
/* MAIN */
.media-section {
  margin: 0px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.media-elmts {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.likes-count {
  color: #901c1c;
  font-size: 24px;
}

.like-button {
  color: #ffffff;
  font-size: 24px;
  -webkit-text-stroke: 2px #901c1c;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.liked {
  color: #901c1c;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  animation: upDown 0.5s ease-in-out;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.media-title {
  text-align: center;
  font-weight: normal;
  color: #901c1c;
}

/* DROPDOWN */

.dropdown {
  margin: 20px 100px 40px 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown-title {
  font-size: 1.2em;
}

.dropdown-btn {
  background-color: #901c1c;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  width: 160px;
  height: 60px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

/* LIGHTBOX */

.lightbox {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.lightbox button {
  position: absolute;
  top: 20px;
  right: 8%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#lightbox-close {
  position: absolute;
  top: 40px;
  right: 5%;
}

#lightbox-prev {
  position: absolute;
  top: 50%;
  right: 95%;
  transform: translateY(-50%);
  z-index: 1001;
}

#lightbox-next {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 1001;
}

.icon-lightbox {
  align-items: center;
  background-color: inherit;
}

.lightbox-media {
  object-fit: cover;
  max-width: 75vw;
  max-height: 75vh;
  margin: 40px auto;
  border-radius: 8px;
}

/* Box-photographer */

.box-photographer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  bottom: 0px;
  right: 20px;
  height: 25px;
  width: 10%;
  padding: 10px 35px;
  background-color: #db8876;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.1em;
  z-index: 100;
}

.likes-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
